body {
  background-color: #283149;
  color: #DBEDF3;
  text-align: center;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 50px 0;
}

.set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.drum {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  background-color: #404b69;
  color: #DBEDF3;
  cursor: pointer;
  transition: 0.1s;
}

.drum:active, .pressed {
  transform: scale(0.9);
  background-color: #dbedf3;
  color: #404b69;
}
